<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="TKBwBquPAx7ymkUgRFpA7UJXSDDgR0sbV-5hhoj9Y5M" />
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
<a href="{% url 'accounts:logout' %}">Logout</a>
{{ user.username }}
{% else %}
<a href="{% url 'social:begin' 'google-oauth2' %}" target="_blank">Google+</a>
<a href="{% url 'social:begin' 'github-oauth2' %}" target="_blank">Github</a>
{% endif %}
</body>
</html>